app/gui/epocs.ini
app/gui/make_exe.log
app/gui-bin/epocs.ini
app/gui-bin/epocs.exe.log

app/parms/NIDigitalOutputPort.prm

app/prog/Operator.ini
app/prog/*.mmap

system-logs

scraps/make-icon/epocs_icon.*

data/*
!data/sample

.hg
.hgignore
.DS_Store
.idea
.vscode
.ipynb_*
*.pyc
*.psftp
*.egg-info
*.code-workspace
*.lnk
unins000.dat
unins000.exe

/build
/dist
/doc/_build
/tmp
