.DS_Store
.idea
.vscode
.ipynb_*
*.pyc
*.lnk
*.psftp
*.egg-info
*.code-workspace
/build
/dist
/doc/_build
/tmp
/app/gui/epocs.ini
/app/gui/make_exe.log
/app/prog/Operator.ini
/system-logs
/scraps/make-icon/epocs_icon.*
/app/gui-bin/epocs.ini
/app/gui-bin/epocs.exe.log
/unins000.dat
/unins000.exe
/app/prog/*.mmap
/data/*
!/data/sample
